spring:
  config:
    import: optional:file:.env[.properties]

  datasource:
    username: commerce
    password: commerce1234
    url: jdbc:mysql://${RDS_ENDPOINT:localhost}:3306/commerce?useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true&useSSL=false&rewriteBatchedStatements=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 32

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

logging:
  level:
    org.springframework.security: trace