aws:
  region: ap-northeast-2
  s3:
    bucket: ${AWS_S3_BUCKET:dummy}  # terraform이 만든 실제 버킷명. commerce-image-bucket-xxx

app:
  base-url: "http://localhost:8080"

toss:
  payments:
    secret-key: ${TOSS_SECRET_KEY:dummy}
    client-key: ${TOSS_CLIENT_KEY:dummy}

spring:
  profiles:
    default: local
  config:
    import: optional:file:.env[.properties]

  datasource:
    username: commerce
    password: commerce1234
    url: jdbc:mysql://${RDS_ENDPOINT:localhost}:3306/commerce?useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true&useSSL=false&rewriteBatchedStatements=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 32

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 40MB

management:
  endpoints:
    web:
      exposure:
        include: "health,metrics,info,prometheus"
  endpoint:
    health:
      show-details: always  # 상세한 헬스 정보 표시

file:
  dir: C:\study\img\commerce\
  url-path: /uploads/

logging:
  level:
    org.springframework.security: debug

