app:
  base-url: "http://localhost:8080"

toss:
  payments:
    secret-key: ${TOSS_SECRET_KEY}
    client-key: ${TOSS_CLIENT_KEY}

spring:
  config:
    import: optional:file:.env[.properties]

  datasource:
    username: commerce
    password: commerce1234
    url: jdbc:mysql://${RDS_ENDPOINT:localhost}:3306/commerce?useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true&useSSL=false&rewriteBatchedStatements=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 32

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 40MB

file:
  dir: C:\study\img\commerce\
  url-path: /uploads/

logging:
  level:
    org.springframework.security: trace